---
import i18next, { t } from 'i18next'
import { LanguageSelector } from 'astro-i18next/components'
import { CartButton } from './CartButton.jsx'
const lang = i18next.language
const base = lang === 'es' ? '' : `/${lang}`
---

<div class='relative w-full start-0 z-50 bg-white'>
  <div
    id='sticky-banner'
    tabindex='-1'
    class='flex justify-center sm:p-4 border-b bg-gray-700'
  >
    <div class='bg-[#FDA314] p-3 text-center leading-4'>
      <p class='text-white text-md sm:text-2xl font-extrabold uppercase'>
        {t('menu.event_date')}<br />
      </p>
      <span class='text-white text-sm sm:text-[15px] font-extrabold uppercase'
        >11:00 AM - 9:00 PM</span
      >
    </div>
    <div class='bg-[#DB00AE] p-3 text-center leading-4'>
      <p class='text-white text-md sm:text-2xl font-extrabold uppercase'>
        {t('menu.distric_venue')}
      </p>
      <span class='text-white text-sm sm:text-[15px] font-extrabold uppercase'
        >{t('menu.instalations')}
      </span>
    </div>
  </div>

  <nav class='bg-agro-green border-gray-200'>
    <div
      class='max-w-screen-xl flex flex-wrap items-center justify-center gap-2 sm:justify-between mx-auto p-4'
    >
      <a href={`${base}/`} class='flex items-center'>
        <img
          src='/img/logoVEV.webp'
          width='100'
          height='59'
          class='mr-3'
          alt='Logo Agrotech'
        />
      </a>
      <div class='flex items-center md:order-2 button-language'>
        {
          i18next.language === 'en' ? (
            <img
              src='/img/flag-us.svg'
              alt='us flag'
              class='h-6 w-6 rounded-full mr-2'
            />
          ) : (
            <img
              src='/img/flag-mexico.svg'
              alt='México flag'
              class='h-6 w-6 rounded-full mr-2'
            />
          )
        }
        <LanguageSelector
          showFlag={false}
          languageMapping={{ en: 'EN', es: 'ES' }}
          aria-label='Select language'
          class='block w-full p-2.5 rounded-lg bg-gray-700 border-gray-600 placeholder-gray-400 text-white focus:ring-blue-500 focus:border-blue-500'
        />
      </div>
      <div class='md:order-3'>
        <div class='flex flex-shrink-0 items-center pe-4'>
          <span class='text-[#DB00AE] font-extrabold'>{t('menu.tickets')}</span>
          <a class='relative' href={`${base}/shopping-cart`}>
            <span class='sr-only'>Open your cart</span>
            <svg
              xmlns='http://www.w3.org/2000/svg'
              fill='none'
              viewBox='0 0 24 24'
              stroke-width='1.5'
              stroke='#DB00AE'
              class='w-7 h-7 sm:w-9 sm:h-9 pointer-events-none rounded-full pulse'
            >
              <path
                stroke-linecap='round'
                stroke-linejoin='round'
                d='M16.5 6v.75m0 3v.75m0 3v.75m0 3V18m-9-5.25h5.25M7.5 15h3M3.375 5.25c-.621 0-1.125.504-1.125 1.125v3.026a2.999 2.999 0 0 1 0 5.198v3.026c0 .621.504 1.125 1.125 1.125h17.25c.621 0 1.125-.504 1.125-1.125v-3.026a2.999 2.999 0 0 1 0-5.198V6.375c0-.621-.504-1.125-1.125-1.125H3.375Z'
              ></path>
            </svg>
            <CartButton client:only />
          </a>
        </div>
      </div>
      <button
        data-collapse-toggle='navbar-multi-level'
        type='button'
        id='triggerEl'
        class='inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-500 rounded-lg md:hidden focus:outline-none focus:ring-2 focus:ring-gray-200'
        aria-controls='navbar-multi-level'
        aria-expanded='false'
      >
        <span class='sr-only'>Open main menu</span>
        <svg
          class='w-5 h-5'
          aria-hidden='true'
          xmlns='http://www.w3.org/2000/svg'
          fill='none'
          viewBox='0 0 17 14'
        >
          <path
            stroke='currentColor'
            stroke-linecap='round'
            stroke-linejoin='round'
            stroke-width='2'
            d='M1 1h15M1 7h15M1 13h15'></path>
        </svg>
      </button>
      <div class='hidden w-full md:block md:w-auto' id='navbar-multi-level'>
        <ul
          class='flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:border-0'
        >
          <li>
            <button
              id='dropdownExhibitors'
              data-dropdown-toggle='dropdownNavbar'
              class='flex items-center justify-between w-full py-2 pl-3 pr-4 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
            >
              <span class='text-[#DB00AE] font-extrabold'
                >{t('menu.aboutUS.title')}</span
              >
              <svg
                class='w-2.5 h-2.5 ml-2'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 10 6'
              >
                <path
                  stroke='#DB00AE'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='m1 1 4 4 4-4'></path>
              </svg>
            </button>
            <div
              id='dropdownNavbar'
              class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44'
            >
              <ul
                class='py-2 text-sm text-gray-700'
                aria-labelledby='dropdownLargeButton'
              >
                <li>
                  <a href={`${base}/acerca-vinotelia`} class='block px-4 py-2'>
                    {t('menu.aboutUS.subMenu.option1')}
                  </a>
                </li>
                <li>
                  <a
                    href='https://igeco.mx/history'
                    target='_blank'
                    class='block px-4 py-2'
                  >
                    {t('menu.aboutUS.subMenu.option2')}
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              id='dropdownExhibitors2'
              data-dropdown-toggle='dropdownNavbar2'
              class='flex items-center justify-between w-full py-2 pl-3 pr-4 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
            >
              <span class='text-[#FDA314] font-extrabold'
                >{t('menu.option2.title')}</span
              >
              <svg
                class='w-2.5 h-2.5 ml-2.5'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 10 6'
              >
                <path
                  stroke='#FDA314'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='m1 1 4 4 4-4'></path>
              </svg>
            </button>
            <!-- Dropdown menu -->
            <div
              id='dropdownNavbar2'
              class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44'
            >
              <ul
                class='py-2 text-sm text-gray-700'
                aria-labelledby='dropdownLargeButton'
              >
                <li>
                  <a
                    href={i18next.language === 'en'
                      ? '/files/Factsheet-VEV-2024-AC-ENGv2.pdf'
                      : '/files/Factsheet-VEV-2024-AC-ESPv2.pdf'}
                    target='_blank'
                    class='block px-4 py-2'
                  >
                    {t('menu.option2.subMenu.option1')}
                  </a>
                </li>
                {
                  /* <li>
                  <a
                    href='/files/MANUAL-EXPOSITOR-VIVE-EL-VINO.pdf'
                    target='_blank'
                    class='block px-4 py-2'
                  >
                    {t('menu.option2.subMenu.option2')}
                  </a>
                </li>*/
                }
                <li>
                  <a
                    href='/files/contrato-vive-el-vino.pdf'
                    target='_blank'
                    class='block px-4 py-2'
                  >
                    {t('menu.option2.subMenu.option3')}
                  </a>
                </li>
                <li>
                  <a
                    href='/files/Patrocinios_VEV-2023.pdf'
                    target='_blank'
                    class='block px-4 py-2'
                  >
                    {t('menu.option2.subMenu.option4')}
                  </a>
                </li>
                <li>
                  <a href={`${base}/porque-exponer`} class='block px-4 py-2'>
                    {t('menu.option2.subMenu.option6')}
                  </a>
                </li>
                <li>
                  <a href={`${base}/tarifas`} class='block px-4 py-2'>
                    {t('menu.option2.subMenu.option5')}
                  </a>
                </li>
                <li>
                  <a href={`${base}/toolkit`} class='block px-4 py-2'
                    >TOOLKIT
                  </a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              id='dropdownExhibitors3'
              data-dropdown-toggle='dropdownNavbar3'
              class='flex items-center justify-between w-full py-2 pl-3 pr-4 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
            >
              <span class='text-[#21B380] font-extrabold'>
                {t('menu.option3.title')}
              </span>
              <svg
                class='w-2.5 h-2.5 ml-2.5'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 10 6'
              >
                <path
                  stroke='#0E2241'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='m1 1 4 4 4-4'></path>
              </svg>
            </button>
            <div
              id='dropdownNavbar3'
              class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44'
            >
              <ul
                class='py-2 text-sm text-gray-700'
                aria-labelledby='dropdownLargeButton'
              >
                <li>
                  <a href={`${base}/visitantes`} class='block px-4 py-2'>
                    {t('menu.option3.visitor_profile')}
                  </a>
                </li>
                <li>
                  <a
                    href={`${base}/hoteles-tarifa-preferencial`}
                    class='block px-4 py-2'>{t('menu.option3.hotels_rates')}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <button
              id='dropdownExhibitors4'
              data-dropdown-toggle='dropdownNavbar4'
              class='flex items-center justify-between w-full py-2 pl-3 pr-4 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto'
            >
              <span class='text-[#0E2241] font-extrabold'
                >{t('menu.option4.title')}</span
              >
              <svg
                class='w-2.5 h-2.5 ml-2.5'
                aria-hidden='true'
                xmlns='http://www.w3.org/2000/svg'
                fill='none'
                viewBox='0 0 10 6'
              >
                <path
                  stroke='#0E2241'
                  stroke-linecap='round'
                  stroke-linejoin='round'
                  stroke-width='2'
                  d='m1 1 4 4 4-4'></path>
              </svg>
            </button>
            <div
              id='dropdownNavbar4'
              class='dropdown z-10 hidden font-normal bg-white divide-y divide-gray-100 rounded-lg shadow w-44'
            >
              <ul
                class='py-2 text-sm text-gray-700'
                aria-labelledby='dropdownLargeButton'
              >
                <li>
                  <a
                    href='/files/AFTERSHOW-REPORT-VEV.pdf'
                    target='_blank'
                    class='block px-4 py-2'
                  >
                    {t('menu.option4.vev_2023')}
                  </a>
                </li>
                <li>
                  <a
                    href='/files/Directorio-Expositores-VEV.pdf'
                    target='_blank'
                    class='block px-4 py-2'
                    >{t('menu.option4.directory_2023')}</a
                  >
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a
              href='/files/PROGRAMA-DE-EXPERIENCIAS-VIVE-EL-VINO-2024_compressed.pdf'
              target='_blank'
              class='block py-2 pl-3 pr-4 rounded md:bg-transparent md:p-0'
            >
              <span class='text-[#DB00AE] font-extrabold uppercase'
                >{t('menu.program')}</span
              >
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<style>
  li a {
    color: black;
  }
  li button {
    color: black;
  }
  .dropdown li a {
    color: black;
    text-shadow: none;
  }
  .dropdown li button {
    color: black;
    text-shadow: none;
  }
  .dropdown a {
    color: black;
    text-shadow: none;
  }
  .language-selector {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
  }
  .language-selector:focus {
    border: none;
    box-shadow: none;
    color: black;
  }
  select:not([size]) {
    background-image: url("data:image/svg+xml,%3csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 10 6'%3e %3cpath stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m1 1 4 4 4-4'/%3e %3c/svg%3e");
  }
  .pulse {
    animation: pulse 2s infinite;
  }
  .pulse:hover {
    animation: none;
  }

  @-webkit-keyframes pulse {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 44, 199, 0.4);
    }
    70% {
      -webkit-box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
    }
  }
  @keyframes pulse {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(219, 0, 174, 0.4);
      box-shadow: 0 0 0 0 rgba(219, 0, 174, 0.4);
    }
    70% {
      -moz-box-shadow: 0 0 0 10px rgba(219, 0, 174, 0);
      box-shadow: 0 0 0 10px rgba(219, 0, 174, 0);
    }
    100% {
      -moz-box-shadow: 0 0 0 0 rgba(219, 0, 174, 0);
      box-shadow: 0 0 0 0 rgba(219, 0, 174, 0);
    }
  }
</style>
